{% extends "layout.html"%}

{% block content %}

<div class="content-section">
		<form method="POST" action="{{url_for('refreshDataSource')}}">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				
				<div class="form-row">
					<legend class="border-bottom mb-4">Table Name Details for Lineage Data Source Refresh</legend>
					<div class="form-group col-md-12">
						<input type="text" class="form-control" placeholder="Enter Table Name from which lineage is to be generated, usually dag parser output table" id= "dagParsedOutputTable" name="dagParsedOutputTable" value="{{request.form.dagParsedOutputTable}}" required>
					</div>
					
				</div>
			</fieldset>
			<div class="form-group text-center">
					<p><input type = "submit" value = "Submit" class="btn btn-outline-info" /></p>
			</div>
		</form>
	</div>
	
	{% if msg %}
	<div class="border-top pt-3 border-bottom">
		<p>{{ msg }}</p>
	</div>
	{% else %}
		
	{% endif %}
	<!-- <p> {{ displayData }}</p> -->

{% endblock content %}